body {
  font-family: 'Quicksand', 'M PLUS Rounded 1c', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ccc;
  font-size: 45px;
}

figure {
  margin: auto;
}

p {
  margin: 30px 0;
}

.content {
  padding:  100px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}
.img-row {
  display: flex;
}
img {
  max-width: 100%;
}

/* Parallax */
.home-box {
  position: relative;
  height: 600px;
  background-image: url(./home.jpg);
  background-size: auto 600px;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
}
#logo {
  font-size: 45px;
  font-family: 'Kranky', cursive;
  width: 100%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  color: #fff;
}
#fore-home {
  width: 960px;
  height: 320px;
  /* background-color: rgba(56, 250, 56, 0.3); */
  background-image: url(./slime.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 350px;
}
#back-home {
  width: 960px;
  height: 320px;
  /* background-color: rgba(56, 250, 56, 0.3); */
  background-image: url(./slime.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  margin-left: -480px;
}

/* image grid */
#tweet-box figure {
  margin-bottom: 20px;
  position: relative;
  margin-right: 10px;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
#tweet-box figure img {
  display: block;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
#tweet-box figure:hover figcaption {
  left: 0%;
}
#tweet-box figure:hover img {
  transform: scale(1.2);
}
#tweet-box figure.is-showing {
  opacity: 1;
  transform: translateX(0px);
}
#tweet-box figcaption {
  position: absolute;
  bottom: 10px;
  left: -1000%;
  background: #000;
  color: #fff;
  padding: 4px 8px;
  font-size: 11px;
  transition: all 0.3s ease-in-out;
}

/* large-window */
#large-window {
  width: 480px;
  height: 480px;
  margin: 0 auto;
  background-image: url("./img/tate04.jpg");
  background-position: top center;
  background-repeat: repeat-y;
  margin-top: 100px;
  border-radius: 50%;
  position: relative;
}
#window-tint {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic-text {
  color: #fff;
  font-size: 50px;
}
.pic-text strong {
  display: block;
  font-size: 30px;
}
.pic-text span {
  font-size: 18px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.6);
}
.twitter-link {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}
.twitter-link:hover {
  background: rgba(255,255,255,0.7);
  color: #000;
}

@media (max-width: 480px) {
  #logo {
    font-size: 30px;
  }
  #large-window {
    width: 350px;
    height: 350px;
    background-attachment: initial;
    background-position: bottom center;
  }
}