#tweet-posts {
  margin-top: 100px;
}
.post {
  border: 1px solid #e1e1e1;
  padding: 20px 20px 0;
  background: #fff;
  position: relative;
}
#post-1 {
  transform: translate(100px, 20px);
}
#post-2 {
  z-index: 2;
}
#post-3 {
  transform: translate(-100px, 20px);
}
