$test : 20vmin;
.App-logo {
  height: $test;
}

body {
  font-family: 'Quicksand', 'M PLUS Rounded 1c', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ccc;
  font-size: 40px;
}

figure {
  margin: auto;
}

p {
  margin: 30px 0;
}
.content {
  position: relative;
  background-color: #fff;
  margin-bottom: 400px;
  overflow: hidden;
  z-index: 2;
}
.content article {
  padding: 100px 0;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
img {
  max-width: 100%;
}

.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive
–––––––––––––––––––––––––––––––– */
/* For devices ~ 550px */
@media (max-width: 550px) {
  #logo {
    font-size: 30px;
  }
  #large-window {
    width: 350px;
    height: 350px;
    background-attachment: initial;
    background-position: bottom center;
  }
  .no-sp {
    display: none;
  }
}
/* For devices 550px ~ */
@media (min-width: 550px) {
  .columns {
    margin-left: 2%;
  }
  .one.columns  { width: 100%; }
  .two.columns  { width: 48%; }
  .three.columns{ width: 30%; }
  .four.columns { width: 23%; }
  .five.columns { width: 18%; }
  .six.columns  { width: 13.3%; }
  .seven.columns{ width: 12%; }
}