#tweet-box figure {
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
#tweet-box figure img {
  display: block;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
#tweet-box figure:hover figcaption {
  left: 0%;
}
#tweet-box figure:hover img {
  transform: scale(1.2);
}
#tweet-box figure.is-showing {
  opacity: 1;
  transform: translateX(0px);
}
#tweet-box figcaption {
  position: absolute;
  bottom: 10px;
  left: -1000%;
  background: #000;
  color: #fff;
  padding: 4px 8px;
  font-size: 11px;
  transition: all 0.3s ease-in-out;
}
